.cv-container{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 0px;
}
.cv-container-a4{
  padding: 10px 20px;
  width: 210mm;
  min-height: 260mm;
  background-image: url("../../assets/images/background.png");
  background-color: #fafafa;
  background-size: cover;
  background-repeat: no-repeat;
}
.cv-title{
  display: flex;
  margin-bottom: 12px;
}
.cv-title-avatar-wrapper{
  display: flex;
  flex-basis: 30%;
  justify-content: center;
}
.cv-title__avatar{
  background-image: url("../../assets/images/hl_picture_profile.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 180px;
  height: 180px;
 
}
.cv-profile-name{
  flex-basis: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cv-profile-fullname{
  width: fit-content;
  display: inline-block;
  text-align: center;
  border-bottom: 1px solid black;
}
.cv-title-profile-title{
  text-align: center;
}
.cv-body{

}
.cv-body-row{
  display: flex;
}
.cv-body-col-left{
  width: 40%;
  padding: 0px 12px;
}
.cv-body-col-right{
  width: 60%;
}
.cv-card{
  padding: 5px 10px;
  background-color: #fff;
  box-shadow: 2px 2px 8px 2px rgb(123 123 123 / 10%);
  border-radius: 5px;
  margin-bottom: 12px;
}
.cv-card-title{
  text-align: center;
  margin-bottom: 5px;
  background-color: #a5dfe5;
  font-weight: 500;
  color: #333;
  border-radius: 5px;
}
.cv-card-body{

}
.cv-card-body-row{
  padding: 5px 0;
  font-size: 1em;
}
.cv-card-body-row i{
  color: #a5dfe5;
  font-size: 1em;
  margin-right: 5px;
}
.cv-card-body-row *{
  font-size: 0.9em;
}
.cv-profile-university *{
  font-size: 1em ;
  padding-left: 0.6em;
}
.cv-profile-university{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cv-card-project{

}
.cv-card-project-title{
  font-size: 1em;
}
.cv-project-title__name{
  font-size: 1em;
  font-weight: 700;
}
.cv-project-title__description{
  font-size: 1em;
}
.cv-card-project-time{
  font-size: 1em;
  padding-left: 0.6em;
}
.cv-project-description{
  font-size: 1em;
  padding-left: 2em;
}